<% if cookies['cookie_eu_consented'] != 'true' %>
  <div class="cookies-eu">
    <% if defined?(in_message_link).present? && defined?(in_message_link_text).present? %>
      <span class="cookies-eu-content-holder"><%= t('cookies_eu.cookies_text_with_link', href: link_to(in_message_link_text, in_message_link, target: '_blank') %></span>
    <% else %>
      <span class="cookies-eu-content-holder"><%= t('cookies_eu.cookies_text') %></span>
    <% end %>
    <span class="cookies-eu-button-holder">
    <button class="cookies-eu-ok"> <%= t('cookies_eu.ok') %> </button>
    <% if defined?(link).present? %>
      <a href="<%= link %>" class="cookies-eu-link" target="<%= defined?(target).present? ? target : '' %>"> <%= t('cookies_eu.learn_more') %> </a>
    <% end %>
    </span>
  </div>
<% end %>
